# Go build binaries
bin/
setu/build
setu.exe

# Node/React
node_modules/
dist/
.eslintcache

# Wails
build/bin/
backend/cmd/setu/build/
frontend/src/wailsjs/

# OS/IDE
.DS_Store
.idea/
.vscode/
*.log
